In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
dt = pd.read_csv("heart.csv")

In [4]:
dt.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = dt.iloc[:,:-1]
Y=dt['target']

In [6]:
X_train, X_test , Y_train , Y_test = train_test_split(X,Y,test_size=0.2 , random_state=10)

In [10]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 242 entries, 286 to 265
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       242 non-null    int64
 1   sex       242 non-null    int64
 2   cp        242 non-null    int64
 3   trestbps  242 non-null    int64
 4   chol      242 non-null    int64
 5   fbs       242 non-null    int64
 6   restecg   242 non-null    int64
 7   thalach   242 non-null    int64
 8   exang     242 non-null    int64
 9   oldpeak   242 non-null    float64
 10  slope     242 non-null    int64
 11  ca        242 non-null    int64
 12  thal      242 non-null    int64
dtypes: float64(1), int64(12)
memory usage: 26.5 KB

# CLASSIFIER

In [13]:
dtc = DecisionTreeClassifier(criterion='gini',
    splitter='best',
    max_depth=5,
    min_samples_split=2,
    min_samples_leaf=1,
    random_state=10,
    max_leaf_nodes=5)
dtc.fit(X_train , Y_train)
dtc_pred = dtc.predict(X_test)
print("The accuracy is", accuracy_score(Y_test , dtc_pred)*100)

The accuracy is 72.1311475409836

In [16]:
random = RandomForestClassifier(criterion='gini',
                                max_depth=None,
                                min_samples_split=2,
                                min_samples_leaf=1,
                                min_weight_fraction_leaf=0.0,
                                max_features='auto',
                                max_leaf_nodes=None,
                                bootstrap=True,
                                random_state=100)
random.fit(X_train , Y_train)
random_pred = random.predict(X_test)
print("The accuracy is", accuracy_score(Y_test , random_pred)*100)

The accuracy is 80.32786885245902

In [17]:
import pickle
with open('heart_disease.pkl' , 'wb') as file:pickle.dump(random , file)